{% load i18n menu_tags %}
{% get_available_languages as languages %}
<ul>
    <li>
        {% for language in languages %}
            {% language language.0 %}

                {% ifequal current_language language.0 %}
                    <i>
                        &nbsp;
                    </i>
                        {{ language.1 }}
                {% endifequal %}
            {% endlanguage %}

        {% endfor %}
        <ul>
            {% for language in languages %}
                {% language language.0 %}
                    <li>
                        <a href="{% page_language_url language.0 %}"{% ifequal current_language language.0 %} class="current"{% endifequal %}>
                            {{ language.1 }}
                        </a>
                    </li>
                {% endlanguage %}

            {% endfor %}
        </ul>
    </li>
</ul>