@import "compass/utilities/sprites";
@import "submit/*.png";

#contact-header {
  hr {
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &>ul {
    display: block;
    width: 800px;
    margin: 0 auto;
    &>li {
      display: block;
      float: left;
      width: 200px;

      h3 {
        color: #676d71; // text color
        font-family: "Arial";
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;

      }

      p {
        color: #676d71; // text color
        font-family: "Arial";
        font-size: 14px;
        font-weight: normal;
      }

      a {
        color: #9f0029; // text color
        font-family: "Arial";
        font-size: 14px;
        text-decoration: underline;
        font-weight: normal;
      }
    }
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}
#contact {

  margin: 0 auto;
  width: 800px;

  .infowindow {
    color: #676d71; // text color
    font-family: "Arial";
    font-size: 18px;

    b {
      font-weight: bold;
    }
    
    a {
      color: #b90c35; // text color
      font-family: "Helvetica";
      font-size: 12px;
      text-decoration: none;
      display: block;
      margin-top: 5px;

      
    }
  }
}

#contact-form {
  width: 800px;
  margin: 0 auto;

  h3 {
    color: #676d71; // text color
    font-family: "Arial";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  input[type=text],
  textarea{
    color: #888; // text color
    font-family: "Arial";
    font-size: 12px;
    text-indent: 5px;
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    border: 1px solid #c2c2c2;
  }

  p {

    &.error {

      input[type=text],
      textarea{
      border: 2px solid rgb(231, 78, 78);
      }
    }
  }

  input[type=text] {
    width: 306px;
    height: 22px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
  }
  
  textarea {
    clear: both;
    width:632px;
    margin-bottom: 20px;
  }

  input[type=submit] {
    width: 77px;
    height: 25px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    @include submit-sprite(Submit-off);
    &:active,
    &:hover {
      @include submit-sprite(Submit-roll);
    }
  }
}