@import "compass/utilities/sprites";
@import "logos/*-color.png";
//@include all-logos-sprites;

$SIZE_MODIFIER: .87431694;
//$SIZE_MODIFIER: 1;
#logos {

  a {
    float: left;
  }

  .first-row a {
    margin-bottom: 20px;
  }

  .second-row a {
    margin-bottom: 20px;
  }

  .third-row a {
    margin-bottom: 20px;
  }

  .fourth-row a {
    margin-bottom: 20px;
  }

  .fifth-row a {
    margin-bottom: 20px;
  }

  .sixth-row a {
    margin-bottom: 20px;
  }


  .acero-prime    {

    @include logos-sprite(acero-prime-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(acero-prime-color);
    }
  }


  .cargill    {

    @include logos-sprite(cargill-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(cargill-color);
    }
  }


  .coilplus    {

    @include logos-sprite(coilplus-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(coilplus-color);
    }
  }

  .feralloy    {

    @include logos-sprite(feralloy-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(feralloy-color);
    }
  }

  .fortacero    {

    @include logos-sprite(fortacero-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(fortacero-color);
    }
  }

  /* Row 2 */

  .independencetube    {

    @include logos-sprite(independencetube-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(independencetube-color);
    }
  }


  .jemison-demsey    {

    @include logos-sprite(jemison-demsey-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(jemison-demsey-color);
    }
  }


  .kenwal    {

    @include logos-sprite(kenwal-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(kenwal-color);
    }
  }

  .kloeckner    {

    @include logos-sprite(kloeckner-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(kloeckner-color);
    }
  }

  .lapham-hickey    {

    @include logos-sprite(lapham-hickey-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(lapham-hickey-color);
    }
  }

  /* Row 3 */

  .majestic-steel-usa    {

    @include logos-sprite(majestic-steel-usa-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(majestic-steel-usa-color);
    }
  }


  .marino    {

    @include logos-sprite(marino-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(marino-color);
    }
  }


  .metal-coaters    {

    @include logos-sprite(metal-coaters-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(metal-coaters-color);
    }
  }

  .metals-usa    {

    @include logos-sprite(metals-usa-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(metals-usa-color);
    }
  }

  .mill-steel    {

    @include logos-sprite(mill-steel-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(mill-steel-color);
    }
  }

  /* Row 4 */

  .misa    {

    @include logos-sprite(misa-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(misa-color);
    }
  }


  .monarch    {

    @include logos-sprite(monarch-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(monarch-color);
    }
  }


  .olympic-steel    {

    @include logos-sprite(olympic-steel-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(olympic-steel-color);
    }
  }

  .oneal    {

    @include logos-sprite(oneal-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(oneal-color);
    }
  }

  .prolamsa    {

    @include logos-sprite(prolamsa-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(prolamsa-color);
    }
  }

  /* Row 5 */

  .reliance    {

    @include logos-sprite(reliance-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(reliance-color);
    }
  }


  .russel-metals    {

    @include logos-sprite(russel-metals-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(russel-metals-color);
    }
  }


  .ryerson    {

    @include logos-sprite(ryerson-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(ryerson-color);
    }
  }

  .samuel    {

    @include logos-sprite(samuel-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(samuel-color);
    }
  }

  .steel-summit    {

    @include logos-sprite(steel-summit-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(steel-summit-color);
    }
  }

  /* Row 6 */

  .steel-technologies    {

    @include logos-sprite(steel-technologies-color);

    width: 156px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(steel-technologies-color);
    }
  }


  .steel-warehouse    {

    @include logos-sprite(steel-warehouse-color);

    width: 192px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(steel-warehouse-color);
    }
  }


  .thyssenkrupp    {

    @include logos-sprite(thyssenkrupp-color);

    width: 190px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(thyssenkrupp-color);
    }
  }

  .villacero    {

    @include logos-sprite(villacero-color);

    width: 194px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(villacero-color);
    }
  }

  .worthington-industries    {

    @include logos-sprite(worthington-industries-color);

    width: 183px * $SIZE_MODIFIER;
    height: 90px * $SIZE_MODIFIER;
    display: block;
    &:hover {
      @include logos-sprite(worthington-industries-color);
    }
  }



}