@import "productnav";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";


#product-hero {
  display: block;
  width: 800px;
  margin: 0 auto;

  li {
    width: 100%;

    img {
      border: 1px solid #c6cbd0;
      padding: 5px;
      max-width: 548px;
      float: left;
    }

    h3 {
      color: #505050; // text color
      font-family: "Arial";
      font-size: 18px;
      font-weight: bold;
      margin: 0px 0px 20px 570px;
    }

    p {
      color: #676d71; // text color
      font-family: "Arial";
      font-size: 12px;
      line-height: 1.2em;
      margin-left: 570px;

    }

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

  }
}

#products,
#products-installations {
  display: block;
  width: 800px;
  margin: 0 auto;

  &>li {
    float: left;
    max-width: 240px;
    margin-left: 34px;
    margin-bottom: 40px;

     &.first {
       margin-left: 0px;
       clear: both;
     }
    
    a {
      text-decoration: none;

      .img-wrapper {
        position: relative;
        margin-bottom: 10px;
      }

      span.title {
        padding: 0px 3px;
        padding-bottom: 3px;
        color: #676d71; // text color
        font-family: "Arial";
        font-size: 14px;
        font-weight: normal;
        &.bold {
          padding-top: 0px;
          padding-bottom: 0px;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .hover-title,
      .hover-bg {
        display: none;
        position: absolute;
        width: 100%;
        bottom: 6px;
        left: 6px;
        height: 39px;
        line-height: 37px;
        text-align: center;
      }

      .hover-title {
        color: #fefefe; // text color
        font-family: "Arial";
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 6;
        background: image-url('magnifying-glass.png') no-repeat 10px 10px;
      }

      .hover-bg {
        @include opacity(.75); // layer alpha
        background-color: #252525; // layer fill content
        z-index: 5;
      }



      &:hover {
        .hover-title,
        .hover-bg {
          display: block;
        }

        span {
          color: #fff; // text color
          background-color: #000;
        }
      }
    }
    

    img {
      border: 1px solid #c6cbd0;
      padding: 5px;
    }

    h3 {
      color: #505050; // text color
      font-family: "Arial";
      font-size: 18px;
      font-weight: bold;
      margin: 15px 0px 10px;
    }

    p {
      color: #676d71; // text color
      font-family: "Arial";
      font-size: 12px;
      line-height: 1.2em;
    }
  }

}