@import "productnav";


#product-hero {
  display: block;
  width: 800px;
  margin: 0 auto;

  li {
    width: 100%;

    img {
      border: 1px solid #c6cbd0;
      padding: 5px;
      max-width: 548px;
      float: left;
    }

    h3 {
      color: #505050; // text color
      font-family: "Helvetica Neue";
      font-size: 18px;
      font-weight: bold;
      margin: 0px 0px 20px 570px;
    }

    p {
      color: #676d71; // text color
      font-family: "Helvetica Neue";
      font-size: 12px;
      line-height: 1.2em;
      margin-left: 570px;

    }

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

  }
}

#products {
  display: block;
  width: 800px;
  margin: 0 auto;

  li {
    float: left;
    max-width: 240px;
    margin-left: 34px;
    margin-bottom: 40px;

     &.first {
       margin-left: 0px;
     }

    img {
      border: 1px solid #c6cbd0;
      padding: 5px;
    }

    h3 {
      color: #505050; // text color
      font-family: "Helvetica Neue";
      font-size: 18px;
      font-weight: bold;
      margin: 15px 0px 10px;
    }

    p {
      color: #676d71; // text color
      font-family: "Helvetica Neue";
      font-size: 12px;
      line-height: 1.2em;
    }
  }

}