@import "productnav";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";


#products-articles {
  width: 800px;
  margin: 0 auto;

   li.article {
     margin-bottom: 30px;
    &>a {
    color: #676d71; // text color
    font-family: "Arial";
    font-size: 18px;
    font-weight: normal;
    line-height: 1.0em;

    &:hover {
      .title {
        color: #fff; // text color
        font-family: "Arial";
        font-size: 18px;
        font-weight: bold;
        background: #000000;
      }
    }


    .title {
      font-weight: bold;
      padding: 0px 5px 0px 5px;


    }

    .subtitle {
      color: #676d71; // text color
      font-family: "Arial";
      font-size: 14px;
      padding: 0px 5px 0px 5px;
    }

    .extended_content {
      color: #676d71; // text color
      font-family: "Arial";
      font-size: 12px;
      line-height: 12px;
      padding-left: 5px;
      display: block;

    }
    text-decoration: none;
  }
   }
}