
#top-nav {
  height: 41px;
  background-color: #252525; // layer fill content
  width: 100%;
  #top-main {
    width: 800px;
    margin: 0 auto;
    &>ul {
      float: right;
      li {
        float: left;
        margin-left: 15px;

        a {
          color: #b7b7b7; // text color
          font-family: "Arial";
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          line-height: 41px;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}


#language-chooser {
  color: #ffffff;
  float: right;
  margin-top: 13px;
  margin-left: 15px;

  ul {
    font-family: "Arial";
      font-size: 14px;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        float: left;
        text-indent: 8px;
      }
    }

    li ul {
      display: none;
    }

    ul li a {
      display: block;
      text-decoration: none;
      color: #ffffff;
      white-space: nowrap;
      width: 100px;
      font-weight: normal;
    }


    // Hover mode
    li:hover {
      ul {
        display: block;
        position: absolute;
      }
      li {
        float: none;
        //font-size: 11px;
      }
      a {
        background: #ebebeb;
          //padding: 5px 10px;
        color: #505050; // text color
        font-family: "Arial";
        font-size: 14px;
        text-align: left;

        border: 1px solid #9fa6ac;
        border-left: 0px;
        border-top: 0px;
        color: #676d71; // text color
        font-family: "Arial";
        font-size: 12px;
      }
      li a:hover {
        background: #464646;
        color: #fff; // text color
        font-family: "Arial";
        font-size: 12px;
      }
  }

  &>ul>li { // root
    background-color: #252525;
    width: 100px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #555555;
    color: #a9a9a9; // text color
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;

    i {
      float: right;
      border-left: 1px solid #555555;
      width: 15px;
      display: block;
      text-align: center;
      background: image-url("arrow.png") no-repeat 2px 5px;
    }
  }
}
