/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "logos";

body {
  width: 100%;
}

#wrapper {

  width: 960px;

  font-family: "Helvetica Neue";
  font-size: 12px;

  margin: 0 auto;

}

#top-nav {
  height: 41px;
  background-color: #242424; // layer fill content
}

#logo {
  display: block;
  margin: 36px 80px 36px;
}

#main-nav {
  width: 800px;
  height: 33px;
  background-color: #252525; // layer fill content
  margin: 0 auto 36px;

  ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      float: left;
    }
  }

  li ul {
    display: none;
  }


  ul li a {
    display: block;
    text-decoration: none;
    color: #b7b7b7; // text color
    //border-top: 1px solid #ffffff;
    //padding: 5px 15px 5px 15px;
    width: 140px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: #252525;
    //margin-left: 1px;
    white-space: nowrap;
    font-weight: bold;
    border-right: 1px solid #555555;
    &:hover {
      background: #464646;
    }
  }

  li:hover {
    ul {
      display: block;
      position: absolute;
    }
    li {
      float: none;
      //font-size: 11px;
    }

    a {
      background: #ebebeb;
      width: auto;
      padding: 10px;
      color: #505050; // text color
      font-family: "Helvetica Neue";
      font-size: 14px;

    }
    li a:hover {
      background: #464646;
      color: #ffffff;
    }
  }

  &>ul>li:hover { // Root

    &>a {
      width: 140px;
      height: 33px;
      padding: 0;
      color: #ffffff;
      background: #464646;
    }
  }

}









#footer {
  width: 960px;
  height: 54px;
  background-color: #252525; // layer fill content
}


h3 {
  color: #505050; // text color
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #191919; // text color
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;

}


#logos,
#homepage-content {
  width: 915px;
  margin: 0 auto;
}

hr {
  margin: 35px auto;
}
