/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "logos";
@import "mainnav";
@import "topnav";

body {
  width: 100%;
}

#wrapper {

  width: 960px;

  font-family: "Helvetica Neue";
  font-size: 12px;

  margin: 0 auto;

}

#top-nav {
  height: 41px;
  background-color: #242424; // layer fill content
}

#logo {
  display: block;
  margin: 36px 80px 36px;
}



#footer {
  width: 960px;
  height: 54px;
  background-color: #252525; // layer fill content
}


h3 {
  color: #505050; // text color
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #191919; // text color
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;

}


#logos,
#homepage-content {
  width: 915px;
  margin: 0 auto;
}

hr {
  margin: 35px auto;
}
