/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "logos";
@import "mainnav";
@import "topnav";
@import "social";
@import "products";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";

body {
  width: 100%;
}

#wrapper {

  width: 960px;

  font-family: "Helvetica Neue";
  font-size: 12px;

  margin: 0 auto;

}



#logo {
  display: block;
  margin: 36px 80px 36px;
}



#footer {

  #social {
    width: 800px;
    margin: 0 auto;
  }
  width: 100%;
  height: 54px;
  background-color: #252525; // layer fill content
}


#homepage-content {
  h3 {
    color: #505050; // text color
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    color: #191919; // text color
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

  }

}

#logos {
  h3 {
    color: #505050; // text color
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

#homepage-slideshow {
  width: 790px;
  margin: 30px auto;
  border: 1px solid #c6cbd0;
  padding: 5px;

  #slideshow {
    width: 790px;
    height: 391px;
    //margin: 50px auto;
    position: relative;
    //padding: 10px;
    //box-shadow: 0 0 20px rgba(0,0,0,0.4);

    .slide {
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }


  }
}

#logos,
#homepage-content {
  width: 800px;
  margin: 0 auto;
}

hr {
  margin: 35px auto;
}


.slideshow-nav {
  width: 100%;
  bottom: 0px;
  height: 29px;
  position: absolute;
  display: block;
  z-index: 1000;

  .nav-bg {
    @include opacity(.65); // layer alpha
    background-color: #363636; // layer fill content
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:2000;
  }

  .title {
    position: absolute;
    z-index: 4000;
    bottom: 0px;
    left: 0px;
    color: #fff; // text color
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-indent: 8px;
  }

  .lozenge {
    margin: 0 auto;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 7px;
    //@include opacity(.75); // layer alpha
    @include border-radius(7px); // border radius
    @include background-clip(padding-box); // prevents bg color from leaking outside the border
    background-color: #000; // layer fill content
    display: inline-block;
    padding: 0 2px;
    z-index:3000;

    li {
      float: left;
    }
    a {
      float: left;
      background: image-url("grey-dot.png") no-repeat;
      width: 7px;
      height: 7px;
      margin: 3px 2px;

      &.active {
        background: image-url("green-dot.png") no-repeat;
      }
    }
  }
}