Django==1.5.5
Jinja2==2.7.1
MarkupSafe==0.18
PIL==1.1.7
PyYAML==3.10
Pygments==1.6
South==0.8.3
binaryornot==0.2.0
bpython==0.12
cmsplugin-filer==0.9.5
cookiecutter==0.7.0
django-admin-jqueryui==1.8.22
django-classy-tags==0.4
django-cms==2.4.3
django-extensions==1.2.5
django-filer==0.9.4
django-floppyforms==1.1
django-inline-ordering==1.0.2
django-mptt==0.5.2
django-polymorphic==0.5.3
django-reversion==1.7
django-sekizai==0.7
django-tinymce==1.5.2
easy-thumbnails==1.4
gunicorn==18.0
html5lib==0.99
psycopg2==2.5.1
pysqlite==2.6.3
six==1.4.1
wsgiref==0.1.2
