{% load thumbnail %}
{% load braner_utils %}


{% for video in videos %}
    <li class="movie {% cycle "first" "second" "third" %}" data-order="{{ forloop.counter }}">
        <a href="#video-player"
           data-video-id="{{ video.video_id }}"
           data-width="{{ video.width }}"
           data-height="{{ video.height }}"
           data-autoplay="{{ video.autoplay|yesno:"1,0" }}"
           data-loop="{{ video.loop|yesno:"1,0" }}"
           data-border="{{ video.border|yesno:"1,0" }}"
           data-video-duration="{{ video.video_duration }}"
                >
            <div class="img-wrapper">
                <img src="{% thumbnail video.src 240x240 crop %}" alt="{{ video.alt }}" title="{{ video.title }}"

                        />
                <i class="play-icon"></i>
            </div>

            <h3>{{ video.title }}</h3>
            <p>{{ video.extended_content|safe }}</p>

            {% if video.video_duration %}
                <p>Duration: {{ video.video_duration }}</p>
            {% endif %}
        </a>
    </li>
{% endfor %}



