{% load thumbnail %}
{% load braner_utils %}



{% for video in videos %}
    <li class="movie {% cycle "first" "second" "third" %}" data-order="{{ forloop.counter }}">
        <a href="#video-player"
                {%  if video.mp4_file %}
           data-mp4="{{ video.mp4_file.url }}"
                {% endif %}
                {%  if video.ogv_file %}
           data-ogv="{{ video.ogv_file.url }}"
                {% endif %}
                {%  if video.webm_file %}
           data-webm="{{ video.webm_file.url }}"
                {% endif %}

                {%  if video.poster_src %}
           data-poster="{{ video.poster_src.url }}"
                {% endif %}
           data-video-height="{{ video.video_height }}"
           data-video-width="{{ video.video_width }}"
           data-video-duration="{{ video.video_duration }}"
                >
            <div class="img-wrapper">
                <img src="{% thumbnail video.src 240x240 crop %}" alt="{{ video.alt }}" title="{{ video.title }}"

                        />
                <i class="play-icon"></i>
            </div>

            <h3>{{ video.title }}</h3>
            <p>{{ video.extended_content }}</p>

            {% if video.video_duration %}
            <p>Duration: {{ video.video_duration }}</p>
            {% endif %}
        </a>
    </li>
{% endfor %}



