/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 514, logos/*.png */
.logos-sprite, #logos .acero-prime, #logos .acero-prime:hover, #logos .cargill, #logos .cargill:hover, #logos .coilplus, #logos .coilplus:hover, #logos .feralloy, #logos .feralloy:hover, #logos .fortacero, #logos .fortacero:hover, #logos .independencetube, #logos .independencetube:hover, #logos .jemison-demsey, #logos .jemison-demsey:hover, #logos .kenwal, #logos .kenwal:hover, #logos .kloeckner, #logos .kloeckner:hover, #logos .lapham-hickey, #logos .lapham-hickey:hover, #logos .majestic-steel-usa, #logos .majestic-steel-usa:hover, #logos .marino, #logos .marino:hover, #logos .metal-coaters, #logos .metal-coaters:hover, #logos .metals-usa, #logos .metals-usa:hover, #logos .mill-steel, #logos .mill-steel:hover, #logos .misa, #logos .misa:hover, #logos .monarch, #logos .monarch:hover, #logos .olympic-steel, #logos .olympic-steel:hover, #logos .oneal, #logos .oneal:hover, #logos .prolamsa, #logos .prolamsa:hover, #logos .reliance, #logos .reliance:hover, #logos .russel-metals, #logos .russel-metals:hover, #logos .ryerson, #logos .ryerson:hover, #logos .samuel, #logos .samuel:hover, #logos .steel-summit, #logos .steel-summit:hover, #logos .steel-technologies, #logos .steel-technologies:hover, #logos .steel-warehouse, #logos .steel-warehouse:hover, #logos .thyssenkrupp, #logos .thyssenkrupp:hover, #logos .villacero, #logos .villacero:hover, #logos .worthington-industries, #logos .worthington-industries:hover {
  background: url('../img/logos-s64f64de68c.png') no-repeat;
}

/* line 5, ../scss/_logos.scss */
#logos {
  /* Row 2 */
  /* Row 3 */
  /* Row 4 */
  /* Row 5 */
  /* Row 6 */
}
/* line 7, ../scss/_logos.scss */
#logos a {
  float: left;
}
/* line 10, ../scss/_logos.scss */
#logos .acero-prime {
  background-position: 0 -4680px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 17, ../scss/_logos.scss */
#logos .acero-prime:hover {
  background-position: 0 -2430px;
}
/* line 23, ../scss/_logos.scss */
#logos .cargill {
  background-position: 0 -3420px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 30, ../scss/_logos.scss */
#logos .cargill:hover {
  background-position: 0 -810px;
}
/* line 36, ../scss/_logos.scss */
#logos .coilplus {
  background-position: 0 -1620px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 43, ../scss/_logos.scss */
#logos .coilplus:hover {
  background-position: 0 -180px;
}
/* line 48, ../scss/_logos.scss */
#logos .feralloy {
  background-position: 0 -2880px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 55, ../scss/_logos.scss */
#logos .feralloy:hover {
  background-position: 0 -450px;
}
/* line 60, ../scss/_logos.scss */
#logos .fortacero {
  background-position: 0 -4050px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 67, ../scss/_logos.scss */
#logos .fortacero:hover {
  background-position: 0 -1170px;
}
/* line 74, ../scss/_logos.scss */
#logos .independencetube {
  background-position: 0 -4320px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 81, ../scss/_logos.scss */
#logos .independencetube:hover {
  background-position: 0 -1440px;
}
/* line 87, ../scss/_logos.scss */
#logos .jemison-demsey {
  background-position: 0 -3870px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 94, ../scss/_logos.scss */
#logos .jemison-demsey:hover {
  background-position: 0 -1350px;
}
/* line 100, ../scss/_logos.scss */
#logos .kenwal {
  background-position: 0 -3330px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 107, ../scss/_logos.scss */
#logos .kenwal:hover {
  background-position: 0 -3060px;
}
/* line 112, ../scss/_logos.scss */
#logos .kloeckner {
  background-position: 0 -4230px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 119, ../scss/_logos.scss */
#logos .kloeckner:hover {
  background-position: 0 -1530px;
}
/* line 124, ../scss/_logos.scss */
#logos .lapham-hickey {
  background-position: 0 -3780px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 131, ../scss/_logos.scss */
#logos .lapham-hickey:hover {
  background-position: 0 -900px;
}
/* line 138, ../scss/_logos.scss */
#logos .majestic-steel-usa {
  background-position: 0 -3600px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 145, ../scss/_logos.scss */
#logos .majestic-steel-usa:hover {
  background-position: 0 -720px;
}
/* line 151, ../scss/_logos.scss */
#logos .marino {
  background-position: 0 -3960px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 158, ../scss/_logos.scss */
#logos .marino:hover {
  background-position: 0 -1080px;
}
/* line 164, ../scss/_logos.scss */
#logos .metal-coaters {
  background-position: 0 -4860px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 171, ../scss/_logos.scss */
#logos .metal-coaters:hover {
  background-position: 0 -2160px;
}
/* line 176, ../scss/_logos.scss */
#logos .metals-usa {
  background-position: 0 -5040px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 183, ../scss/_logos.scss */
#logos .metals-usa:hover {
  background-position: 0 -2700px;
}
/* line 188, ../scss/_logos.scss */
#logos .mill-steel {
  background-position: 0 -5310px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 195, ../scss/_logos.scss */
#logos .mill-steel:hover {
  background-position: 0 -1890px;
}
/* line 202, ../scss/_logos.scss */
#logos .misa {
  background-position: 0 -1710px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 209, ../scss/_logos.scss */
#logos .misa:hover {
  background-position: 0 0;
}
/* line 215, ../scss/_logos.scss */
#logos .monarch {
  background-position: 0 -2970px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 222, ../scss/_logos.scss */
#logos .monarch:hover {
  background-position: 0 -540px;
}
/* line 228, ../scss/_logos.scss */
#logos .olympic-steel {
  background-position: 0 -3690px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 235, ../scss/_logos.scss */
#logos .olympic-steel:hover {
  background-position: 0 -1260px;
}
/* line 240, ../scss/_logos.scss */
#logos .oneal {
  background-position: 0 -3510px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 247, ../scss/_logos.scss */
#logos .oneal:hover {
  background-position: 0 -990px;
}
/* line 252, ../scss/_logos.scss */
#logos .prolamsa {
  background-position: 0 -2790px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 259, ../scss/_logos.scss */
#logos .prolamsa:hover {
  background-position: 0 -270px;
}
/* line 266, ../scss/_logos.scss */
#logos .reliance {
  background-position: 0 -4770px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 273, ../scss/_logos.scss */
#logos .reliance:hover {
  background-position: 0 -2250px;
}
/* line 279, ../scss/_logos.scss */
#logos .russel-metals {
  background-position: 0 -4140px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 286, ../scss/_logos.scss */
#logos .russel-metals:hover {
  background-position: 0 -1800px;
}
/* line 292, ../scss/_logos.scss */
#logos .ryerson {
  background-position: 0 -4410px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 299, ../scss/_logos.scss */
#logos .ryerson:hover {
  background-position: 0 -2070px;
}
/* line 304, ../scss/_logos.scss */
#logos .samuel {
  background-position: 0 -5220px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 311, ../scss/_logos.scss */
#logos .samuel:hover {
  background-position: 0 -3240px;
}
/* line 316, ../scss/_logos.scss */
#logos .steel-summit {
  background-position: 0 -2340px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 323, ../scss/_logos.scss */
#logos .steel-summit:hover {
  background-position: 0 -90px;
}
/* line 330, ../scss/_logos.scss */
#logos .steel-technologies {
  background-position: 0 -5130px;
  width: 156px;
  height: 90px;
  display: block;
}
/* line 337, ../scss/_logos.scss */
#logos .steel-technologies:hover {
  background-position: 0 -2610px;
}
/* line 343, ../scss/_logos.scss */
#logos .steel-warehouse {
  background-position: 0 -4950px;
  width: 192px;
  height: 90px;
  display: block;
}
/* line 350, ../scss/_logos.scss */
#logos .steel-warehouse:hover {
  background-position: 0 -2520px;
}
/* line 356, ../scss/_logos.scss */
#logos .thyssenkrupp {
  background-position: 0 -3150px;
  width: 190px;
  height: 90px;
  display: block;
}
/* line 363, ../scss/_logos.scss */
#logos .thyssenkrupp:hover {
  background-position: 0 -360px;
}
/* line 368, ../scss/_logos.scss */
#logos .villacero {
  background-position: 0 -4500px;
  width: 194px;
  height: 90px;
  display: block;
}
/* line 375, ../scss/_logos.scss */
#logos .villacero:hover {
  background-position: 0 -630px;
}
/* line 380, ../scss/_logos.scss */
#logos .worthington-industries {
  background-position: 0 -4590px;
  width: 183px;
  height: 90px;
  display: block;
}
/* line 387, ../scss/_logos.scss */
#logos .worthington-industries:hover {
  background-position: 0 -1980px;
}

/* line 9, ../scss/global.scss */
body {
  width: 100%;
}

/* line 13, ../scss/global.scss */
#wrapper {
  width: 960px;
  color: #b7b7b7;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
}

/* line 24, ../scss/global.scss */
#top-nav {
  height: 41px;
  background-color: #242424;
}

/* line 29, ../scss/global.scss */
#logo {
  display: block;
  margin: 36px 80px 36px;
}

/* line 34, ../scss/global.scss */
#main-nav {
  width: 800px;
  height: 33px;
  background-color: #252525;
  margin: 0 auto 36px;
}

/* line 41, ../scss/global.scss */
#footer {
  width: 960px;
  height: 54px;
  background-color: #252525;
}

/* line 48, ../scss/global.scss */
h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 56, ../scss/global.scss */
p {
  color: #191919;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;
}

/* line 66, ../scss/global.scss */
#logos,
#homepage-content {
  width: 915px;
  margin: 0 auto;
}

/* line 71, ../scss/global.scss */
hr {
  margin: 35px auto;
}
