/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 514, logos/*.png */
.logos-sprite, #logos .acero-prime, #logos .acero-prime:hover, #logos .cargill, #logos .cargill:hover, #logos .coilplus, #logos .coilplus:hover, #logos .feralloy, #logos .feralloy:hover, #logos .fortacero, #logos .fortacero:hover, #logos .independencetube, #logos .independencetube:hover, #logos .jemison-demsey, #logos .jemison-demsey:hover, #logos .kenwal, #logos .kenwal:hover, #logos .kloeckner, #logos .kloeckner:hover, #logos .lapham-hickey, #logos .lapham-hickey:hover, #logos .majestic-steel-usa, #logos .majestic-steel-usa:hover, #logos .marino, #logos .marino:hover, #logos .metal-coaters, #logos .metal-coaters:hover, #logos .metals-usa, #logos .metals-usa:hover, #logos .mill-steel, #logos .mill-steel:hover, #logos .misa, #logos .misa:hover, #logos .monarch, #logos .monarch:hover, #logos .olympic-steel, #logos .olympic-steel:hover, #logos .oneal, #logos .oneal:hover, #logos .prolamsa, #logos .prolamsa:hover, #logos .reliance, #logos .reliance:hover, #logos .russel-metals, #logos .russel-metals:hover, #logos .ryerson, #logos .ryerson:hover, #logos .samuel, #logos .samuel:hover, #logos .steel-summit, #logos .steel-summit:hover, #logos .steel-technologies, #logos .steel-technologies:hover, #logos .steel-warehouse, #logos .steel-warehouse:hover, #logos .thyssenkrupp, #logos .thyssenkrupp:hover, #logos .villacero, #logos .villacero:hover, #logos .worthington-industries, #logos .worthington-industries:hover {
  background: url('../img/logos-s623196e3fb.png') no-repeat;
}

/* line 7, ../scss/_logos.scss */
#logos {
  /* Row 2 */
  /* Row 3 */
  /* Row 4 */
  /* Row 5 */
  /* Row 6 */
}
/* line 9, ../scss/_logos.scss */
#logos a {
  float: left;
}
/* line 13, ../scss/_logos.scss */
#logos .first-row a {
  margin-bottom: 20px;
}
/* line 17, ../scss/_logos.scss */
#logos .second-row a {
  margin-bottom: 20px;
}
/* line 21, ../scss/_logos.scss */
#logos .third-row a {
  margin-bottom: 20px;
}
/* line 25, ../scss/_logos.scss */
#logos .fourth-row a {
  margin-bottom: 20px;
}
/* line 29, ../scss/_logos.scss */
#logos .fifth-row a {
  margin-bottom: 20px;
}
/* line 33, ../scss/_logos.scss */
#logos .sixth-row a {
  margin-bottom: 20px;
}
/* line 38, ../scss/_logos.scss */
#logos .acero-prime {
  background-position: 0 -4187px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 45, ../scss/_logos.scss */
#logos .acero-prime:hover {
  background-position: 0 -1817px;
}
/* line 51, ../scss/_logos.scss */
#logos .cargill {
  background-position: 0 -2765px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 58, ../scss/_logos.scss */
#logos .cargill:hover {
  background-position: 0 -316px;
}
/* line 64, ../scss/_logos.scss */
#logos .coilplus {
  background-position: 0 -2449px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 71, ../scss/_logos.scss */
#logos .coilplus:hover {
  background-position: 0 -79px;
}
/* line 76, ../scss/_logos.scss */
#logos .feralloy {
  background-position: 0 -2686px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 83, ../scss/_logos.scss */
#logos .feralloy:hover {
  background-position: 0 -395px;
}
/* line 88, ../scss/_logos.scss */
#logos .fortacero {
  background-position: 0 -3318px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 95, ../scss/_logos.scss */
#logos .fortacero:hover {
  background-position: 0 -1106px;
}
/* line 102, ../scss/_logos.scss */
#logos .independencetube {
  background-position: 0 -4266px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 109, ../scss/_logos.scss */
#logos .independencetube:hover {
  background-position: 0 -1501px;
}
/* line 115, ../scss/_logos.scss */
#logos .jemison-demsey {
  background-position: 0 -3634px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 122, ../scss/_logos.scss */
#logos .jemison-demsey:hover {
  background-position: 0 -1264px;
}
/* line 128, ../scss/_logos.scss */
#logos .kenwal {
  background-position: 0 -2133px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 135, ../scss/_logos.scss */
#logos .kenwal:hover {
  background-position: 0 -2212px;
}
/* line 140, ../scss/_logos.scss */
#logos .kloeckner {
  background-position: 0 -3950px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 147, ../scss/_logos.scss */
#logos .kloeckner:hover {
  background-position: 0 -1343px;
}
/* line 152, ../scss/_logos.scss */
#logos .lapham-hickey {
  background-position: 0 -3160px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 159, ../scss/_logos.scss */
#logos .lapham-hickey:hover {
  background-position: 0 -632px;
}
/* line 166, ../scss/_logos.scss */
#logos .majestic-steel-usa {
  background-position: 0 -3239px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 173, ../scss/_logos.scss */
#logos .majestic-steel-usa:hover {
  background-position: 0 -790px;
}
/* line 179, ../scss/_logos.scss */
#logos .marino {
  background-position: 0 -3476px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 186, ../scss/_logos.scss */
#logos .marino:hover {
  background-position: 0 -1027px;
}
/* line 192, ../scss/_logos.scss */
#logos .metal-coaters {
  background-position: 0 -4424px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 199, ../scss/_logos.scss */
#logos .metal-coaters:hover {
  background-position: 0 -2054px;
}
/* line 204, ../scss/_logos.scss */
#logos .metals-usa {
  background-position: 0 -4029px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 211, ../scss/_logos.scss */
#logos .metals-usa:hover {
  background-position: 0 -1896px;
}
/* line 216, ../scss/_logos.scss */
#logos .mill-steel {
  background-position: 0 -4582px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 223, ../scss/_logos.scss */
#logos .mill-steel:hover {
  background-position: 0 -1975px;
}
/* line 230, ../scss/_logos.scss */
#logos .misa {
  background-position: 0 -2528px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 237, ../scss/_logos.scss */
#logos .misa:hover {
  background-position: 0 0;
}
/* line 243, ../scss/_logos.scss */
#logos .monarch {
  background-position: 0 -2923px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 250, ../scss/_logos.scss */
#logos .monarch:hover {
  background-position: 0 -711px;
}
/* line 256, ../scss/_logos.scss */
#logos .olympic-steel {
  background-position: 0 -3397px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 263, ../scss/_logos.scss */
#logos .olympic-steel:hover {
  background-position: 0 -869px;
}
/* line 268, ../scss/_logos.scss */
#logos .oneal {
  background-position: 0 -3081px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 275, ../scss/_logos.scss */
#logos .oneal:hover {
  background-position: 0 -474px;
}
/* line 280, ../scss/_logos.scss */
#logos .prolamsa {
  background-position: 0 -2844px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 287, ../scss/_logos.scss */
#logos .prolamsa:hover {
  background-position: 0 -237px;
}
/* line 294, ../scss/_logos.scss */
#logos .reliance {
  background-position: 0 -4345px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 301, ../scss/_logos.scss */
#logos .reliance:hover {
  background-position: 0 -1659px;
}
/* line 307, ../scss/_logos.scss */
#logos .russel-metals {
  background-position: 0 -3555px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 314, ../scss/_logos.scss */
#logos .russel-metals:hover {
  background-position: 0 -1185px;
}
/* line 320, ../scss/_logos.scss */
#logos .ryerson {
  background-position: 0 -4108px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 327, ../scss/_logos.scss */
#logos .ryerson:hover {
  background-position: 0 -1580px;
}
/* line 332, ../scss/_logos.scss */
#logos .samuel {
  background-position: 0 -4503px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 339, ../scss/_logos.scss */
#logos .samuel:hover {
  background-position: 0 -2370px;
}
/* line 344, ../scss/_logos.scss */
#logos .steel-summit {
  background-position: 0 -2607px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 351, ../scss/_logos.scss */
#logos .steel-summit:hover {
  background-position: 0 -158px;
}
/* line 358, ../scss/_logos.scss */
#logos .steel-technologies {
  background-position: 0 -4661px;
  width: 136.39344px;
  height: 78.68852px;
  display: block;
}
/* line 365, ../scss/_logos.scss */
#logos .steel-technologies:hover {
  background-position: 0 -2291px;
}
/* line 371, ../scss/_logos.scss */
#logos .steel-warehouse {
  background-position: 0 -3713px;
  width: 167.86885px;
  height: 78.68852px;
  display: block;
}
/* line 378, ../scss/_logos.scss */
#logos .steel-warehouse:hover {
  background-position: 0 -1738px;
}
/* line 384, ../scss/_logos.scss */
#logos .thyssenkrupp {
  background-position: 0 -3002px;
  width: 166.12022px;
  height: 78.68852px;
  display: block;
}
/* line 391, ../scss/_logos.scss */
#logos .thyssenkrupp:hover {
  background-position: 0 -553px;
}
/* line 396, ../scss/_logos.scss */
#logos .villacero {
  background-position: 0 -3792px;
  width: 169.61749px;
  height: 78.68852px;
  display: block;
}
/* line 403, ../scss/_logos.scss */
#logos .villacero:hover {
  background-position: 0 -948px;
}
/* line 408, ../scss/_logos.scss */
#logos .worthington-industries {
  background-position: 0 -3871px;
  width: 160.0px;
  height: 78.68852px;
  display: block;
}
/* line 415, ../scss/_logos.scss */
#logos .worthington-industries:hover {
  background-position: 0 -1422px;
}

/* line 1, ../scss/_mainnav.scss */
#main-nav {
  width: 800px;
  height: 33px;
  background-color: #252525;
  margin: 0 auto 36px;
}
/* line 7, ../scss/_mainnav.scss */
#main-nav ul {
  font-family: "Helvetica Neue";
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 13, ../scss/_mainnav.scss */
#main-nav ul li {
  display: block;
  position: relative;
  float: left;
}
/* line 20, ../scss/_mainnav.scss */
#main-nav li ul {
  display: none;
}
/* line 25, ../scss/_mainnav.scss */
#main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #b7b7b7;
  width: 140px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #252525;
  white-space: nowrap;
  font-weight: normal;
}
/* line 39, ../scss/_mainnav.scss */
#main-nav ul li a:hover {
  background: #464646;
}
/* line 46, ../scss/_mainnav.scss */
#main-nav li:hover ul {
  display: block;
  position: absolute;
  z-index: 100;
}
/* line 51, ../scss/_mainnav.scss */
#main-nav li:hover li {
  float: none;
}
/* line 56, ../scss/_mainnav.scss */
#main-nav li:hover a {
  background: #ebebeb;
  width: auto;
  min-width: 140px;
  padding: 5px 10px;
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 14px;
  text-align: left;
  border: 1px solid #9fa6ac;
  border-top: 0px;
}
/* line 70, ../scss/_mainnav.scss */
#main-nav li:hover li a:hover {
  background: #464646;
  color: #ffffff;
}
/* line 78, ../scss/_mainnav.scss */
#main-nav > ul > li:hover > a {
  width: 140px;
  height: 33px;
  padding: 0;
  color: #ffffff;
  background: #464646;
  font-size: 12px;
  border: 0px;
  border-right: 1px solid #555555;
  text-align: center;
}
/* line 93, ../scss/_mainnav.scss */
#main-nav > ul > li > ul > li > ul {
  display: none !important;
}
/* line 96, ../scss/_mainnav.scss */
#main-nav > ul > li > a {
  border-right: 1px solid #555555;
  font-size: 12px;
  font-weight: bold;
}

/* line 2, ../scss/_topnav.scss */
#top-nav {
  height: 41px;
  background-color: #252525;
  width: 100%;
}
/* line 6, ../scss/_topnav.scss */
#top-nav #top-main {
  width: 800px;
  margin: 0 auto;
}
/* line 9, ../scss/_topnav.scss */
#top-nav #top-main > ul {
  float: right;
}
/* line 11, ../scss/_topnav.scss */
#top-nav #top-main > ul li {
  float: left;
  margin-left: 15px;
}
/* line 15, ../scss/_topnav.scss */
#top-nav #top-main > ul li a {
  color: #b7b7b7;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  line-height: 41px;
}
/* line 23, ../scss/_topnav.scss */
#top-nav #top-main > ul li a:hover {
  color: #ffffff;
}

/* line 33, ../scss/_topnav.scss */
#language-chooser {
  color: #ffffff;
  float: right;
  margin-top: 13px;
  margin-left: 15px;
}
/* line 39, ../scss/_topnav.scss */
#language-chooser ul {
  font-family: "Helvetica Neue";
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 45, ../scss/_topnav.scss */
#language-chooser ul li {
  display: block;
  position: relative;
  float: left;
  text-indent: 8px;
}
/* line 53, ../scss/_topnav.scss */
#language-chooser li ul {
  display: none;
}
/* line 57, ../scss/_topnav.scss */
#language-chooser ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  width: 100px;
  font-weight: normal;
}
/* line 69, ../scss/_topnav.scss */
#language-chooser li:hover ul {
  display: block;
  position: absolute;
}
/* line 73, ../scss/_topnav.scss */
#language-chooser li:hover li {
  float: none;
}
/* line 77, ../scss/_topnav.scss */
#language-chooser li:hover a {
  background: #ebebeb;
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 14px;
  text-align: left;
  border: 1px solid #9fa6ac;
  border-left: 0px;
  border-top: 0px;
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
}
/* line 92, ../scss/_topnav.scss */
#language-chooser li:hover li a:hover {
  background: #464646;
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 12px;
}
/* line 100, ../scss/_topnav.scss */
#language-chooser > ul > li {
  background-color: #252525;
  width: 100px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #555555;
  color: #a9a9a9;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
}
/* line 111, ../scss/_topnav.scss */
#language-chooser > ul > li i {
  float: right;
  border-left: 1px solid #555555;
  width: 15px;
  display: block;
  text-align: center;
  background: url('../img/arrow.png?1388253933') no-repeat 2px 5px;
}

/* line 130, social/*.png */
.social-sprite, #social a.gplus, #social a.gplus:hover, #social a.facebook, #social a.facebook:hover, #social a.linkedin, #social a.linkedin:hover, #social a.twitter, #social a.twitter:hover, #social a.vimeo, #social a.vimeo:hover, #social a.youtube, #social a.youtube:hover {
  background: url('../img/social-sd875ee5009.png') no-repeat;
}

/* line 7, ../scss/_social.scss */
#social li {
  margin-top: 12px;
  margin-left: 8px;
  float: left;
}
/* line 12, ../scss/_social.scss */
#social li:first-child {
  margin-left: 0px;
}
/* line 17, ../scss/_social.scss */
#social a {
  width: 29px;
  height: 28px;
  display: block;
}
/* line 22, ../scss/_social.scss */
#social a.gplus {
  background-position: 0 -58px;
}
/* line 24, ../scss/_social.scss */
#social a.gplus:hover {
  background-position: 0 -86px;
}
/* line 29, ../scss/_social.scss */
#social a.facebook {
  background-position: 0 -228px;
}
/* line 31, ../scss/_social.scss */
#social a.facebook:hover {
  background-position: 0 -257px;
}
/* line 36, ../scss/_social.scss */
#social a.linkedin {
  background-position: 0 -286px;
}
/* line 38, ../scss/_social.scss */
#social a.linkedin:hover {
  background-position: 0 -315px;
}
/* line 43, ../scss/_social.scss */
#social a.twitter {
  background-position: 0 -170px;
}
/* line 45, ../scss/_social.scss */
#social a.twitter:hover {
  background-position: 0 -199px;
}
/* line 50, ../scss/_social.scss */
#social a.vimeo {
  background-position: 0 -114px;
}
/* line 52, ../scss/_social.scss */
#social a.vimeo:hover {
  background-position: 0 -142px;
}
/* line 57, ../scss/_social.scss */
#social a.youtube {
  background-position: 0 0;
}
/* line 59, ../scss/_social.scss */
#social a.youtube:hover {
  background-position: 0 -29px;
}

/* line 2, ../scss/_productnav.scss */
#product-nav {
  width: 100%;
}
/* line 4, ../scss/_productnav.scss */
#product-nav > ul {
  display: block;
}
/* line 7, ../scss/_productnav.scss */
#product-nav > ul > li {
  width: 800px;
  margin: 0 auto;
}
/* line 11, ../scss/_productnav.scss */
#product-nav > ul > li > a {
  text-decoration: none;
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
}
/* line 19, ../scss/_productnav.scss */
#product-nav > ul > li > ul {
  float: right;
}
/* line 22, ../scss/_productnav.scss */
#product-nav > ul > li > ul li {
  float: left;
}
/* line 25, ../scss/_productnav.scss */
#product-nav > ul > li > ul li a {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: 5px;
}
/* line 34, ../scss/_productnav.scss */
#product-nav > ul > li > ul li a:hover {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  background-color: #000000;
}
/* line 45, ../scss/_productnav.scss */
#product-nav > ul > li > ul li.selected a {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  background-color: #000000;
}
/* line 60, ../scss/_productnav.scss */
#product-nav hr {
  margin: 5px auto 25px;
}

/* line 7, ../scss/_products.scss */
#product-hero {
  display: block;
  width: 800px;
  margin: 0 auto;
}
/* line 12, ../scss/_products.scss */
#product-hero li {
  width: 100%;
}
/* line 15, ../scss/_products.scss */
#product-hero li img {
  border: 1px solid #c6cbd0;
  padding: 5px;
  max-width: 548px;
  float: left;
}
/* line 22, ../scss/_products.scss */
#product-hero li h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 20px 570px;
}
/* line 30, ../scss/_products.scss */
#product-hero li p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2em;
  margin-left: 570px;
}
/* line 39, ../scss/_products.scss */
#product-hero li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 51, ../scss/_products.scss */
#products,
#products-installations {
  display: block;
  width: 800px;
  margin: 0 auto;
}
/* line 56, ../scss/_products.scss */
#products > li,
#products-installations > li {
  float: left;
  max-width: 240px;
  margin-left: 34px;
  margin-bottom: 40px;
}
/* line 62, ../scss/_products.scss */
#products > li.first,
#products-installations > li.first {
  margin-left: 0px;
}
/* line 66, ../scss/_products.scss */
#products > li a,
#products-installations > li a {
  text-decoration: none;
}
/* line 69, ../scss/_products.scss */
#products > li a .img-wrapper,
#products-installations > li a .img-wrapper {
  position: relative;
  margin-bottom: 10px;
}
/* line 74, ../scss/_products.scss */
#products > li a span.title,
#products-installations > li a span.title {
  padding: 0px 3px;
  padding-bottom: 3px;
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;
}
/* line 81, ../scss/_products.scss */
#products > li a span.title.bold,
#products-installations > li a span.title.bold {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
}
/* line 90, ../scss/_products.scss */
#products > li a .hover-title,
#products > li a .hover-bg,
#products-installations > li a .hover-title,
#products-installations > li a .hover-bg {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 6px;
  left: 6px;
  height: 39px;
  line-height: 37px;
  text-align: center;
}
/* line 101, ../scss/_products.scss */
#products > li a .hover-title,
#products-installations > li a .hover-title {
  color: #fefefe;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 6;
  background: url('../img/magnifying-glass.png?1388457759') no-repeat 10px 10px;
}
/* line 111, ../scss/_products.scss */
#products > li a .hover-bg,
#products-installations > li a .hover-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background-color: #252525;
  z-index: 5;
}
/* line 121, ../scss/_products.scss */
#products > li a:hover .hover-title,
#products > li a:hover .hover-bg,
#products-installations > li a:hover .hover-title,
#products-installations > li a:hover .hover-bg {
  display: block;
}
/* line 125, ../scss/_products.scss */
#products > li a:hover span,
#products-installations > li a:hover span {
  color: #fff;
  background-color: #000;
}
/* line 133, ../scss/_products.scss */
#products > li img,
#products-installations > li img {
  border: 1px solid #c6cbd0;
  padding: 5px;
}
/* line 138, ../scss/_products.scss */
#products > li h3,
#products-installations > li h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0px 10px;
}
/* line 146, ../scss/_products.scss */
#products > li p,
#products-installations > li p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2em;
}

/* line 5, ../scss/_slideshow.scss */
#homepage-slideshow {
  width: 790px;
  margin: 30px auto;
  border: 1px solid #c6cbd0;
  padding: 5px;
}
/* line 11, ../scss/_slideshow.scss */
#homepage-slideshow #slideshow {
  width: 790px;
  height: 391px;
  position: relative;
}
/* line 19, ../scss/_slideshow.scss */
#homepage-slideshow #slideshow .slide {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 33, ../scss/_slideshow.scss */
.slideshow-nav {
  width: 100%;
  bottom: 0px;
  height: 29px;
  position: absolute;
  display: block;
  z-index: 1000;
}
/* line 41, ../scss/_slideshow.scss */
.slideshow-nav .nav-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  background-color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}
/* line 52, ../scss/_slideshow.scss */
.slideshow-nav .title {
  position: absolute;
  z-index: 4000;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-indent: 8px;
}
/* line 65, ../scss/_slideshow.scss */
.slideshow-nav .lozenge {
  margin: 0 auto;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #000;
  display: inline-block;
  padding: 0 2px;
  z-index: 3000;
}
/* line 79, ../scss/_slideshow.scss */
.slideshow-nav .lozenge li {
  float: left;
}
/* line 82, ../scss/_slideshow.scss */
.slideshow-nav .lozenge a {
  float: left;
  background: url('../img/grey-dot.png?1388264049') no-repeat;
  width: 7px;
  height: 7px;
  margin: 3px 2px;
}
/* line 89, ../scss/_slideshow.scss */
.slideshow-nav .lozenge a.active {
  background: url('../img/green-dot.png?1388264065') no-repeat;
}

/* line 100, ../scss/_slideshow.scss */
#product-features #slideshow-wrapper {
  width: 790px;
  margin: 30px auto;
  border: 1px solid #c6cbd0;
  padding: 5px;
}
/* line 106, ../scss/_slideshow.scss */
#product-features #slideshow-wrapper #slideshow {
  width: 790px;
  height: 391px;
  position: relative;
}
/* line 114, ../scss/_slideshow.scss */
#product-features #slideshow-wrapper #slideshow .slide {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 50, icons/*.png */
.icons-sprite, #products-movies > li a .play-icon, #products-movies > li a:hover .play-icon,
#products-movies > li a:hover .hover-bg {
  background: url('../img/icons-sa72cb8a490.png') no-repeat;
}

/* line 5, ../scss/_movies.scss */
#products-movies {
  display: block;
  width: 800px;
  margin: 0 auto;
}
/* line 10, ../scss/_movies.scss */
#products-movies > li {
  float: left;
  max-width: 240px;
  margin-left: 34px;
  margin-bottom: 40px;
}
/* line 16, ../scss/_movies.scss */
#products-movies > li.first {
  margin-left: 0px;
}
/* line 20, ../scss/_movies.scss */
#products-movies > li a {
  text-decoration: none;
}
/* line 23, ../scss/_movies.scss */
#products-movies > li a .img-wrapper {
  position: relative;
  margin-bottom: 10px;
}
/* line 28, ../scss/_movies.scss */
#products-movies > li a h3 {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
/* line 36, ../scss/_movies.scss */
#products-movies > li a p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 47, ../scss/_movies.scss */
#products-movies > li a .play-icon {
  position: absolute;
  width: 100%;
  bottom: 6px;
  left: 6px;
  height: 36px;
  line-height: 37px;
  text-align: center;
}
/* line 57, ../scss/_movies.scss */
#products-movies > li a .play-icon {
  color: #fefefe;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 6;
  background-position: 0 0;
  left: 115px;
  top: 108px;
}
/* line 73, ../scss/_movies.scss */
#products-movies > li a:hover .play-icon,
#products-movies > li a:hover .hover-bg {
  display: block;
  background-position: 0 -36px;
}
/* line 78, ../scss/_movies.scss */
#products-movies > li a:hover h3 {
  color: #fff;
  background-color: #000;
}
/* line 86, ../scss/_movies.scss */
#products-movies > li img {
  border: 1px solid #c6cbd0;
  padding: 5px;
}

/* line 1, ../scss/_products_features.scss */
#product-features {
  width: 800px;
  margin: 0 auto;
}
/* line 5, ../scss/_products_features.scss */
#product-features > h3 {
  text-transform: uppercase;
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 13, ../scss/_products_features.scss */
#product-features > ul {
  display: block;
  width: 800px;
}
/* line 18, ../scss/_products_features.scss */
#product-features > ul li {
  width: 49%;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}
/* line 24, ../scss/_products_features.scss */
#product-features > ul li a {
  display: block;
  width: 345px;
  text-decoration: none;
}
/* line 28, ../scss/_products_features.scss */
#product-features > ul li a h3 {
  color: #252525;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
}
/* line 34, ../scss/_products_features.scss */
#product-features > ul li a h3 span {
  color: #252525;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;
}
/* line 46, ../scss/_products_features.scss */
#product-features > ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1, ../scss/_services.scss */
#services-nav {
  width: 800px;
  display: block;
  margin: 0 auto;
}
/* line 5, ../scss/_services.scss */
#services-nav li {
  display: none;
}
/* line 8, ../scss/_services.scss */
#services-nav li.selected {
  display: block;
  margin-bottom: 30px;
}
/* line 13, ../scss/_services.scss */
#services-nav li a {
  text-decoration: none;
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
}

/* line 24, ../scss/_services.scss */
#services-hero {
  display: block;
  width: 800px;
  margin: 0 auto;
}
/* line 29, ../scss/_services.scss */
#services-hero p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2em;
  margin-left: 570px;
}
/* line 38, ../scss/_services.scss */
#services-hero li {
  width: 100%;
}
/* line 41, ../scss/_services.scss */
#services-hero li img {
  border: 1px solid #c6cbd0;
  padding: 5px;
  max-width: 548px;
  float: left;
}
/* line 48, ../scss/_services.scss */
#services-hero li h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 20px 570px;
}
/* line 56, ../scss/_services.scss */
#services-hero li p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2em;
  margin-left: 570px;
}
/* line 65, ../scss/_services.scss */
#services-hero li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 76, ../scss/_services.scss */
#services-extra {
  display: block;
  width: 800px;
  margin: 0 auto 30px;
}

/* line 50, submit/*.png */
.submit-sprite, #contact-form input[type=submit], #contact-form input[type=submit]:active, #contact-form input[type=submit]:hover {
  background: url('../img/submit-s0022e7c513.png') no-repeat;
}

/* line 5, ../scss/_contact.scss */
#contact-header hr {
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 10, ../scss/_contact.scss */
#contact-header > ul {
  display: block;
  width: 800px;
  margin: 0 auto;
}
/* line 14, ../scss/_contact.scss */
#contact-header > ul > li {
  display: block;
  float: left;
  width: 200px;
}
/* line 19, ../scss/_contact.scss */
#contact-header > ul > li h3 {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 28, ../scss/_contact.scss */
#contact-header > ul > li p {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;
}
/* line 35, ../scss/_contact.scss */
#contact-header > ul > li a {
  color: #9f0029;
  font-family: "Helvetica Neue";
  font-size: 14px;
  text-decoration: underline;
  font-weight: normal;
}
/* line 43, ../scss/_contact.scss */
#contact-header > ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 52, ../scss/_contact.scss */
#contact {
  margin: 0 auto;
  width: 800px;
}
/* line 57, ../scss/_contact.scss */
#contact .infowindow {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 18px;
}
/* line 62, ../scss/_contact.scss */
#contact .infowindow b {
  font-weight: bold;
}
/* line 66, ../scss/_contact.scss */
#contact .infowindow a {
  color: #b90c35;
  font-family: "Helvetica";
  font-size: 12px;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

/* line 79, ../scss/_contact.scss */
#contact-form {
  width: 800px;
  margin: 0 auto;
}
/* line 83, ../scss/_contact.scss */
#contact-form h3 {
  color: #676d71;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 92, ../scss/_contact.scss */
#contact-form input[type=text],
#contact-form textarea {
  color: #888;
  font-family: "Helvetica Neue";
  font-size: 12px;
  text-indent: 5px;
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: none;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  border: 1px solid #c2c2c2;
}
/* line 117, ../scss/_contact.scss */
#contact-form p.error input[type=text],
#contact-form p.error textarea {
  border: 2px solid #e74e4e;
}
/* line 123, ../scss/_contact.scss */
#contact-form input[type=text] {
  width: 306px;
  height: 22px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
/* line 131, ../scss/_contact.scss */
#contact-form textarea {
  clear: both;
  width: 632px;
  margin-bottom: 20px;
}
/* line 137, ../scss/_contact.scss */
#contact-form input[type=submit] {
  width: 77px;
  height: 25px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  background-position: 0 0;
}
/* line 145, ../scss/_contact.scss */
#contact-form input[type=submit]:active, #contact-form input[type=submit]:hover {
  background-position: 0 -25px;
}

/* line 21, ../scss/global.scss */
html .plugin_googlemap {
  line-height: normal;
}

/* line 25, ../scss/global.scss */
body {
  width: 100%;
}

/* line 29, ../scss/global.scss */
#wrapper {
  width: 100%;
  font-family: "Helvetica Neue";
  font-size: 12px;
  margin: 0 auto;
}

/* line 42, ../scss/global.scss */
#logo {
  display: block;
  margin: 36px 80px 36px;
}

/* line 49, ../scss/global.scss */
#footer {
  width: 100%;
  height: 54px;
  background-color: #252525;
}
/* line 51, ../scss/global.scss */
#footer #social {
  width: 800px;
  margin: 0 auto;
}

/* line 62, ../scss/global.scss */
#homepage-content h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 71, ../scss/global.scss */
#homepage-content p {
  color: #191919;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

/* line 83, ../scss/global.scss */
#logos h3 {
  color: #505050;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 96, ../scss/global.scss */
#logos,
#homepage-content {
  width: 800px;
  margin: 0 auto;
}

/* line 101, ../scss/global.scss */
hr {
  margin: 35px auto;
}
