{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block base_content %}

{#    <div id="services-nav">#}
{#        <ul>#}
{#            {% show_menu 1 %}#}
{#        </ul>#}
{#    </div>#}



    <div id="contact-header">
        <ul>
        <li><h3>Call Us Anytime</h3><p rel="telephone">847.671.6210</p></li>
        <li><h3>Fax Us</h3><p>847.671.0537</p></li>
        <li><h3>Email us</h3><p><a href="mailto:branerusa1@braner.com">branerusa1@braner.com</a></p></li>

        </ul>

        <hr/>
    </div>
    <div id="contact">
        {% placeholder contact_map_content %}
    </div>

    <hr/>

    <div id="contact-form">
        {% placeholder contact_form_content %}
    </div>

{#    <div id="services-extra">#}
{#        {% placeholder services_extra_content %}#}
{#    </div>#}



{% endblock %}
